<div class="row align-items-center">
    <div class="col-5 col-md-2">
        <a href="/index" class="main-header_home-link">
            <img src="/images/logo.png">
        </a>
    </div>	
    <div class="col-7 col-md-6">
        <form class="search-form">
            <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
            <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>

            </a>
        </li>
        <li>
            <form >
                <button class="logout" type="submit">
                    Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                </button>