<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link width="" rel="shortcut icon" href="/public/images/logo.png" />
=======
    <link width="" rel="shortcut icon" href="/public/images/logo-mercado-liebre.jpg" />
>>>>>>> 98ff97466a75d01be2f823c2ca8b98632645b805
    <title> TopBA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>