<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
	<body>
		<%- include('partials/headerLogueado') %>
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Agregar productos</h2>
					</div>
					</h2>
					<form method='/product-add'>
						<div class='form-group'>
							<label for='pic'>Foto del producto</label>
							<input type='file' accept='image/png image/jpeg image/jpg' class='form-control' id='pic'
								name='pic'>
						</div>
						<div class="form-group">
							<label for="name">Nombre del producto</label>
							<input type="text" class="form-control" id="name" name="name"
								placeholder="Nombre del producto">
						</div>
						<div class="form-group	">
							<label for="description">Descripción</label>
							<textarea class="form-control" id="description" name="description"
								placeholder="Descripción"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Agregar producto</button>
					</form>
				</div>
			</div>
			<%- include('partials/footer') %>
	</body>
</html>